# .gitattributes – binary files should not be diffed

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.pdf binary
*.zip binary
*.tar.gz binary
*.mp4 binary
*.webm binary
